<div class="main-content-wrapper main-content-wrapper--side-padding">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let curriculumMeta of curriculaMeta">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Studiengang: {{ curriculumMeta.completeName }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p *ngIf="curriculumMeta.degrees.length == 0">
        Für diesen Studiengang sind leider noch keine Einträge vorhanden.
      </p>

      <mat-list>
        <div *ngFor="let degree of curriculumMeta.degrees; last as isLast">
          <h3 mat-subheader>{{ degree.completeName }}</h3>
          <mat-list-item *ngFor="let curriculum of degree.curricula">
            <mat-icon mat-list-icon>description</mat-icon>
            <a routerLink="/curricula/{{ curriculum.curriculumId }}" mat-line>{{ curriculum.shortName }}</a>
            <p mat-line> Gültig für Studienanfänger ab dem {{ curriculum.validityDate }} </p>
          </mat-list-item>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>
