<div class="main-content-wrapper main-content-wrapper--side-padding">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let serMeta of sersMeta">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Studiengang: {{ serMeta.completeName }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p *ngIf="serMeta.degrees.length == 0">
        Für diesen Studiengang sind leider noch keine Einträge vorhanden.
      </p>

      <mat-list>
        <div *ngFor="let degree of serMeta.degrees; last as isLast">
          <h3 mat-subheader>{{ degree.completeName }}</h3>
          <mat-list-item *ngFor="let ser of degree.sers">
            <mat-icon mat-list-icon>description</mat-icon>
            <a routerLink="/sers/{{ ser.serId }}" mat-line>{{ ser.shortName }}</a>
            <p mat-line> Gültig für Studienanfänger ab dem {{ ser.validityDate | localizeDate }} </p>
          </mat-list-item>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>
