@import 'dimensions';
@import 'responsive';

/*
 * main content wrapper should be used with a wrapper around the content component
 * such as the view of all the SPOs and/or the detailed view of a SPO
 */
.main-content-wrapper {
  min-height: $hsis-content-height-regular;
  @include display-res(xs) {
    min-height: $hsis-content-height-mobile;
  }

  &--side-padding {
    @include display-res(lg xl) {
      margin: 0 15vw;
    }
  }
}

/*
 * mixin for word wraps
 */
@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
