@import 'dimensions';
@import 'responsive';

/*
 * main content wrapper should be used with a wrapper around the content component
 * such as the view of all the SPOs and/or the detailed view of a SPO
 */
.main-content-wrapper {
  min-height: $hsis-content-height-regular;
  @include display-res(xs) {
    min-height: $hsis-content-height-mobile;
  }

  &--side-padding {
    @include display-res(lg xl) {
      margin: 0 15vw;
    }
  }
}

/*
 * layout for a4 document including basic modifiers
 */
.a4-document {
  background: white;
  margin: 0.5em auto;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
  padding: $a4-margin-top $a4-margin-right $a4-margin-bottom $a4-margin-left;
  font-family: "Times New Roman", serif;
  font-size: 16px;

  &--page-break {
    /* Force page breaks after */
    page-break-after: always;
  }

  &--portrait {
    width: $a4-width-portrait;
    min-height: $a4-height-portrait;
  }

  &--landscape {
    width: $a4-width-landscape;
    min-height: $a4-height-landscape;
  }
}

/*
 * mixin for word wraps
 */
@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
