<div class="main-content-wrapper">
  <div class="a4-document a4-document--landscape">
    <div class="a4-document__title">
      {{ curriculum.completeName }}<br/>
      (gültig für Studienanfänger ab dem {{ curriculum.validityDate }})<br/>
      ({{ curriculum.semester | getSem }} {{ curriculum.year }})
    </div>
    <div class="a4-document__study-section" *ngFor="let studySection of curriculum.curriculumStudySections; let i = index">
      <div class="a4-document__section-title">
        <span class="a4-document__title-number">
          {{ i+1 | romanize }}
        </span>Erster Studienabschnitt (1. u. 2. theoretisches Studiensemester)
      </div>
      <div class="a4-document__section-subtitle">
        <span class="a4-document__subtitle-number">1.1</span>Pflichtfächer
      </div>

      <table class="a4-document__courses-table">
        <tr class="a4-document__courses-table-header">
          <td>Fach</td>
          <td>Kurzbez.</td>
          <td>WS 1.th.</td>
          <td>SS 2.th</td>
          <td>SWS</td>
          <td>ECTS</td>
          <td>Art der Lehrveranstaltung</td>
          <td>Fach schließt ab im Sem.</td>
          <td>Arten der Leistungsnachweise und ggf. Dauer</td>
          <td>Zugelassene Hilfsmittel</td>
          <td>Erstprüfer</td>
          <td>Zweitprüfer</td>
        </tr>
        <tr>
          <td>
            Analysis
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
