<div class="main-content-wrapper">
  <div class="a4-document a4-document--landscape">
    <div class="a4-document__title">
      Studienplan für die theoretischen und praktischen Studiensemester des Studienganges
      Informatik neu (Bachelor) an der Hochschule Coburg<br/>
      (gültig für Studienanfänger ab dem 01.10.2014)<br/>
      (Sommersemester 2018)
    </div>
    <div class="a4-document__study-section">
      <div class="a4-document__section-title">
        <span class="a4-document__title-number">I</span>Erster Studienabschnitt (1. u. 2. theoretisches Studiensemester)
      </div>
      <div class="a4-document__section-subtitle">
        <span class="a4-document__subtitle-number">1.1</span>Pflichtfächer
      </div>

      <table class="a4-document__courses-table">
        <tr class="a4-document__courses-table-header">
          <td>Fach</td>
          <td>Kurzbez.</td>
          <td>WS 1.th.</td>
          <td>SS 2.th</td>
          <td>SWS</td>
          <td>ECTS</td>
          <td>Art der Lehrveranstaltung</td>
          <td>Fach schließt ab im Sem.</td>
          <td>Arten der Leistungsnachweise und ggf. Dauer</td>
          <td>Zugelassene Hilfsmittel</td>
          <td>Erstprüfer</td>
          <td>Zweitprüfer</td>
        </tr>
        <tr>
          <td>
            Analysis
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
