<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/mgse_user_db</property>
        <property name="hibernate.connection.username">mgse_user</property>
        <property name="hibernate.connection.password">ageofempires3</property>
        <property name="show_sql">true</property>

        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <!-- Drop the existing tables and create new one -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="de.hs_coburg.mgse.persistence.test.StudentInfo" />
    </session-factory>
</hibernate-configuration>