<div class="main-content-wrapper">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let course of coursesOfStudy">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Studiengang: {{ course.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <p>This is the primary content of the panel.</p> -->

      <mat-tab-group>
        <mat-tab label="Bachelor">Bachelor Content</mat-tab>
        <mat-tab label="Master">Master Content</mat-tab>
      </mat-tab-group>

    </mat-expansion-panel>
  </mat-accordion>
</div>
