<div class="main-content-wrapper">
  <div class="a4-document a4-document--portrait" #a4Sheet>
    <div class="a4-document__header">
      <div class="a4-document__title">
        {{ ser?.title }}
      </div>
      <div class="a4-document__creation-date">
        Vom {{ ser?.validity }}
      </div>
      <div class="a4-document__sub-title">
        {{ ser?.preface }}
      </div>
    </div>
    <div class="a4-document__content">
      <div class="a4-document__paragraph" *ngFor="let paragraph of ser?.paragraphs">
        <div class="a4-document__paragraph-title">
          § {{ paragraph.number }}
          <span *ngIf="paragraph.subtitle"><br/>{{ paragraph.subtitle }}</span>
        </div>
        <div class="a4-document__paragraph-text">
          <div class="a4-document__paragraph-subsection" *ngFor="let subsection of paragraph.subsections">
            <span *ngIf="subsection.number">({{ subsection.number }})</span>
            <span> {{ subsection.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
