@import '../../shared/styles/common';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/responsive';


/*
 * layout for DIN-A4 page class
 * this is only a view component (does not translate to a optimized print view/PDF)
 */
.a4-document {

  &__title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  &__creation-date {
    font-size: 18px;
    text-align: center;
  }

  &__sub-title {
    padding: 25px 0;
    text-align: justify;
  }

  &__content {
    column-count: 2;
    -webkit-column-count: 2;
    column-fill: auto;
    -webkit-column-fill: auto;
    column-gap: 1.4cm;
    -webkit-column-gap: 1.4cm;
  }

  &__paragraph-title {
    text-align: center;
  }

  &__paragraph-text {
    text-align: justify;
    margin-bottom: 0.5cm;
  }

  &__module-overview,
  &__addendum-header,
  &__header-table,
  &__sum-table {
    font-family: sans-serif;
  }
  &__addendum-header,
  &__section-sum-text{
    font-weight: bold;
  }
  &__study-section-header {
    font-weight: bold;
    padding: 20px 0;
  }

  &__header-table,
  &__module-table,
  &__sum-table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 0.9em;
    @include word-wrap;
    border-collapse: collapse;
    tr > td {
      border: 1px solid black;
      text-align: center;
    }
  }
  &__header-table, &__module-table {
    border: 2px solid black;
  }

  &__sum-table {
    margin: 20px 0 90px 0;

    tr > td {
      border: 2px solid black;
    }
  }
}



